- var naverMapsScript = `https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=${process.env.NAVER_MAPS_CLIENT_ID}`

doctype html
html(lang='en')
head
    title Real Estate
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='utf-8')

    script(src=naverMapsScript)

    style(type="text/css").
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            width: 100%;
            height: 100%;
        }

body
    div(id='map')

    script(src='main.coffee')

