doctype html
html(lang='en')
head
    title Parcel Starter
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='utf-8')
body
    include:marked ../README.md

    h4 How to use .env* files in pug template:
    ul
        li process.env.NODE_ENV (set by Parcel): #{process.env.NODE_ENV}
        li process.env.SECRET (from .env* files):  #{process.env.SECRET}

    script(src='main.coffee')

